body {
  height: 60vh;
  background-image: linear-gradient(to bottom right, darkblue, purple);
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  column-gap: 30px;
}
h1 {
  display: flex;
  color: azure;
  column-gap: 10px;
}
span {
  color: aliceblue;
}
.sss {
  display: flex;
  column-gap: 10px;
}
